<!DOCTYPE html>
<html>
	<body>
		<h1>Hello World</h1>
		<p> These are a couple projects from EECS 494, Fall 2014.<p>
		<a href="/games/SplatterGunPrototype">SplatterGunPrototype</a>
		<b></b>
		<a href="/games/P3Deploy">First-Person Platformer</a>
	</body>
</html>